
<%- include partials/head.ejs %>
<script>
    var cart = []
    function addToCart(id, title, price , quantity) {
        cart.push({
            id: id, 
            title: title,
            price: price,
            quantity: 1
        })
        localStorage.cart = JSON.stringify(cart)
    }
    function saveCart() {
        if ( window.localStorage)
        {
            localStorage.cart = JSON.stringify(cart);
        }
    }
    function showCart() {
            if (cart.length == 0) {
                $("#cart").css("visibility", "hidden");
                return;
            }

            $("#cart").css("visibility", "visible");
            $("#cartBody").empty();
            for (var i in cart) {
                var item = cart[i];
                var row = "<tr><td>" + item.Product + "</td><td>" +
                             item.Price + "</td><td>" + item.Qty + "</td><td>"
                             + item.Qty * item.Price + "</td><td>"
                             + "<button onclick='deleteItem(" + i + ")'>Delete</button></td></tr>";
                $("#cartBody").append(row);
            }
        }

    function showCart(){
        JSON.parse(localStorage.cart);

        for (var i in cart) {
                var item = cart[i];
                var row = "<tr><td>" + item.Product + "</td><td>" +
                             item.Price + "</td><td>" + item.Qty + "</td><td>"
                             + item.Qty * item.Price + "</td><td>"
                             + "<button onclick='deleteItem(" + i + ")'>Delete</button></td></tr>";
                $("#cartBody").append(row);
            }
            
    }
</script>



<div class="container">
        <div class="card-body bg-light" >
            <tbody id="cartBody">

            </tbody>
            <button onclick="showCart()">show</button>
 </div>
</div>
 <br><br><br><br><br><br>
 <%- include partials/foot %>